@font-face {
    font-family: 'iconfont';
    src: url('http://at.alicdn.com/t/font_709056_kzf3fatvadn.eot');
    src: url('http://at.alicdn.com/t/font_709056_kzf3fatvadn.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_709056_kzf3fatvadn.woff') format('woff'),
    url('http://at.alicdn.com/t/font_709056_kzf3fatvadn.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_709056_kzf3fatvadn.svg#iconfont') format('svg');
}